<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section class="reservation">
            <div class="container">
                <div class="text">
                    <h1><span>Book</span> Your Rooms</h1>
                </div>
                <div class="form">
                    <form class="grid">
                        <input type="date" placeholder="Arrival Date">
                        <input type="date" placeholder="Departure Date">
                        <input type="number" placeholder="No. of Guests">
                        <input type="number" placeholder="No. of Rooms">
                        <input type="submit" value="CHECK AVAILABILITY">
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>