.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    margin-top: 50px;   
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

input {
    width: 100%;
}

.reservation {
    padding: 40px 0;   
}

.reservation h1 {
    font-family: serif;
    font-size: 28px;
}

.reservation h1 span {
    color: gold;
}

.reservation input{
    padding: 20px;
}

.reservation input:nth-last-child(1){
    background: gold;
}

.room-component {
    align-items: left;
}

.reservation input:nth-last-child(1):hover {
    background:  #00357b;
    color: #ffffff;
}

.container .list {
    justify-content: left;
    max-width: 1200px;
    margin: 50px 20px 50px 70px;
}

/* .list {
    flex-basis: 65%;
} */

.wrapper {
    display: flex;
    margin: 0 50px;
    min-height: 300px;
}

.select-button {
    border: none;
    padding: 6px 15px;
    border-radius: 4px;
    background-color: gold;
    font-size: 14px;
    transition: .4s;
    margin-right: 10px;
    cursor: pointer;
}

.select-button:hover {
    background: rgb(224, 191, 3);
}

.room {
    width: 950px;
    padding-left: 20px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.room-detail {
    width: 700px;
    padding-right: 40px;
}

.reserve-button {
    border: none;
    padding: 6px 15px;
    background: gold;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 8px;
    transition: .4s;
}

.reserve-button:hover {
    transform: scale(1.1);
}




