<section class="reservation">
  <div class="container">
    <div class="text">
      <h1><span>Book</span> Your Rooms</h1>
    </div>
    <div class="form">
      <form class="grid" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
        <input
          type="date"
          placeholder="Arrival Date"
          name="checkInDate"
          #checkInDate="ngModel"
          ngModel
          required
        />
        <input
          type="date"
          placeholder="Departure Date"
          name="checkOutDate"
          #checkOutDate="ngModel"
          ngModel
          required
        />
        <input
          type="number"
          placeholder="No. of Guests"
          name="guestCount"
          #guestCount="ngModel"
          ngModel
        />
        <input
          type="number"
          placeholder="No. of Rooms"
          name="roomCount"
          #roomCount="ngModel"
          ngModel
        />
        <input type="submit" value="CHECK AVAILABILITY" />
      </form>
    </div>
  </div>
</section>
