<section class="reservation">
  <div class="container">
    <div class="search">
      <div class="text">
        <h1><span>Book</span> Your Rooms</h1>
      </div>
      <div class="form">
        <form
          class="grid"
          #searchForm="ngForm"
          (ngSubmit)="onSubmit(searchForm)"
        >
          <input
            type="date"
            placeholder="Arrival Date"
            name="checkInDate"
            [ngModel]="searchParams.checkInDate"
            (ngModelChange)="searchParams.checkInDate = $event"
            #checkInDate="ngModel"
            ngModel
            required
          />
          <input
            type="date"
            placeholder="Departure Date"
            name="checkOutDate"
            [ngModel]="searchParams.checkOutDate"
            (ngModelChange)="searchParams.checkOutDate = $event"
            #checkOutDate="ngModel"
            ngModel
            required
          />
          <input
            type="number"
            placeholder="No. of Guests"
            name="guestCount"
            min="1"
            [(ngModel)]="searchParams.guestCount"
            #guestCount="ngModel"
            ngModel
          />
          <input
            type="number"
            placeholder="No. of Rooms"
            name="roomCount"
            min="1"
            [(ngModel)]="searchParams.roomCount"
            #roomCount="ngModel"
            ngModel
          />
          <input type="submit" value="CHECK AVAILABILITY" class="button" />
        </form>
      </div>
    </div>

    <div class="wrapper">
      <div class="list" *ngIf="rooms.length > 0">
        <h2>{{ rooms.length }} Rooms Found</h2>
        <table class="room">
          <tbody>
            <tr class="list" *ngFor="let room of rooms">
              <td class="room-detail">
                <app-room [room]="room"></app-room>
              </td>
              <td>
                <button
                  class="select-button"
                  type="button"
                  (click)="
                    room.isSelected
                      ? unselectRoom(room.id)
                      : selectRoom(room.id)
                  "
                >
                  {{ room.isSelected ? "Unselect" : "Select" }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="selectedRooms.length > 0">
        <div class="bookings">
          <app-bookings [rooms]="selectedRooms" [days]="days"></app-bookings>
        </div>
        <div class="bookings">
          <app-reservation-detail [guest]="guest"></app-reservation-detail>
          <button class="reserve-button" (click)="reserve()">Reserve</button>
        </div>
      </div>
    </div>
  </div>
</section>
