<div class="invoice-wrapper">
  <div class="invoice">
    <div class="invoice-container" *ngIf="invoice">
      <div class="invoice-head">
        <div class="invoice-head-top">
          <div class="invoice-head-top-left text-start">
            <h1>Logo</h1>
          </div>
          <div class="invoice-head-top-right text-end">
            <h3>Invoice</h3>
          </div>
        </div>
        <div class="hr"></div>
        <div class="invoice-head-middle">
          <div class="invoice-head-middle-left text-start">
            <p><span class="text-bold">Date</span>: {{ invoice.createdAt }}</p>
          </div>
          <div class="invoice-head-middle-right text-end">
            <p>
              <span class="text-bold"
                >Invoice No: {{ invoice.reservationId }}</span
              >
            </p>
          </div>
        </div>
        <div class="hr"></div>
        <div class="invoice-head-bottom">
          <div class="invoice-head-bottom-left">
            <ul>
              <li class="text-bold">Customer Information</li>
              <li>
                Full Name:
                {{ invoice.guest.firstName + invoice.guest.lastName }}
              </li>
              <li> <label for="phone">Phone Number:</label> {{ invoice.guest.phone }}</li>
              <li>Email: {{ invoice.guest.email }}</li>
              <li>Check In Date: {{ invoice.checkInDate | date: 'yyyy-MM-dd' }}</li>
              <li>Check Out Date: {{ invoice.checkOutDate | date: 'yyyy-MM-dd' }}</li>
              <li>Total Days: {{ invoice.days }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="overflow-view">
        <div class="invoice-body">
          <table>
            <thead>
              <tr>
                <td class="text-bold">S.N</td>
                <td class="text-bold">Room Type</td>
                <td class="text-bold">Rate</td>
                <td class="text-bold">Amount</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let room of invoice.roomReserved; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ room.roomType }}</td>
                <td>{{ room.ratePerNight }}</td>
                <td>{{ room.ratePerNight * invoice.days }}</td>
              </tr>
            </tbody>
          </table>
          <div class="invoice-body-bottom">
            <div class="invoice-body-info-item border-bottom">
              <div class="info-item-td text-end text-bold">Sub Total:</div>
              <div class="info-item-td text-end">
                Rs {{ invoice.subTotal }}
              </div>
            </div>
            <div class="invoice-body-info-item border-bottom">
              <div class="info-item-td text-end text-bold">Discount %:</div>
              <div class="info-item-td text-end">
                {{ invoice.discountPercent }}%
              </div>
            </div>
            <div class="invoice-body-info-item border-bottom">
              <div class="info-item-td text-end text-bold">
                Discount Amount:
              </div>
              <div class="info-item-td text-end">
                Rs {{ invoice.discountAmount }}
              </div>
            </div>
            <div class="invoice-body-info-item">
              <div class="info-item-td text-end text-bold">Total:</div>
              <div class="info-item-td text-end">Rs {{ invoice.netTotal }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="invoice-foot text-center">
        <div class="invoice-btn" onclick="printInvoice()">
          <span>Print</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function printInvoice() {
    window.print();
  }
</script>
