*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.list {
    align-items: center;
    margin: 50px 150px;
}
.room {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    /* border-bottom: 1px solid #ccc; */
}

.room-img {
    flex-basis: 40%;
}

.room-info {
    flex-basis: 55%;
}

.room-img img {
    width: 100%;
    border-radius: 8px;
}

.room-info h3{
    font-weight: 600;
    margin: 4px 0;
    font-size: 22px;
}

.room-price {
    text-align: right;
    margin-top: 25px;
}

.room-price h4 {
    font-size: 20px;
}

.room-price h4 span {
    font-size: 16px;
    font-weight: 500;
}

.description {
    text-align: justify;
}

.room button{
    margin-top: 15px;
    border: none;
    padding: 8px 17px;
    background-color: gold;
    border-radius: 4px;
    transition: .4s;
}

.room button:hover {
    transform: scale(1.1);
}