<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="room.component.css">
    </head>
    <body>
        <div class="container">
            <div class="list">
                <h2>5 Rooms Found</h2>
                <div class="room">
                    <div class="room-img">
                        <img src="room.png">
                    </div>
                    <div class="room-info">
                        <h3>Deluxe Room</h3>
                        <p> Immerse yourself in luxury with tastefully designed furnishings that blend style and comfort seamlessly.
                            Immerse yourself in luxury with tastefully designed furnishings that blend style and comfort seamlessly.
                            Immerse yourself in luxury with tastefully designed furnishings that blend style and comfort seamlessly.
                        </p>
                        <p>King Size Bed / Attach Bathroom / Balcony</p>
                        <div class="room-price">
                            <p>2 Guest</p>
                            <h4>Rs 1200 <span>/ night</span></h4>
                            <button type="button">Reserve</button>
                        </div>
                    </div>
                </div>
                <div class="room">
                    <div class="room-img">
                        <img src="room.png">
                    </div>
                    <div class="room-info">
                        <h3>Deluxe Room</h3>
                        <p>King Size Bed / Attach Bathroom / Balcony</p>
                        <div class="room-price">
                            <p>2 Guest</p>
                            <h4>Rs 1200 <span>/ night</span></h4>
                            <button type="button">Reserve</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>