* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 70px;
    display: flex;
    justify-content: right;
    margin-right: 40px;
}

.list {
    margin: 40px;
}

.list h3 {
    align-items: center;
}

.list-left {
    margin-top: 18px;
}

.list-left table td,
.list-left table thead{
    padding: 10px;
}

.list-left table thead {
    font-size: 17px;
    color: #002060;
    font-weight: 550;
}

button{
    padding: 8px 8px;
    border: none;
    margin-top: 25px;
    margin-left: 8px;
    background-color: gold;
    border-radius: 4px;
    transition: 0.4s;
}

button:hover {
    transform: scale(1.1);
}
