<div class="container">
  <div class="list">
    <h3>Selected Rooms</h3>
    <div *ngIf="rooms.length == 0">No rooms selected yet.</div>
    <div class="list-left" *ngIf="rooms.length > 0">
      <table>
        <thead>
          <tr>
            <td>S.N</td>
            <td>Room Type</td>
            <td>Rate</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ room.roomType }}</td>
            <td>Rs {{ room.pricePerNight }}</td>
          </tr>
        </tbody>
      </table>
      <a><button type="button">Reserve</button></a>
    </div>
  </div>
</div>
