<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="bookings.component.css">
    </head>
    <body>
        <div class="container">
            <div class="list">
                <h3>Selected Rooms</h3>
                <div class="list-left">
                    <table>
                        <thead>
                            <tr>
                                <td>S.N</td>
                                <td>Room Type</td>
                                <td>Rate</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Deluxe Room</td>
                                <td>Rs 1000</td>
                            </tr>
                        </tbody>
                    </table>
                    <a><button type="button">Reserve</button></a>
                </div>
            </div>
        </div>
    </body>
</html>