<section class="reservation-detail">
  <div class="container">
    <div class="title">Guest Information</div>
    <form #getForm="ngForm">
      <div class="guest-details">
        <div class="input-box">
          <span class="details">First Name</span>
          <input
            type="text"
            name="firstName"
            #firstName="ngModel"
            [ngModel]="guest.firstName"
            (ngModelChange)="guest.firstName = $event"
            ngModel
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Last Name</span>
          <input
            type="text"
            name="lastName"
            #lastName="ngModel"
            [ngModel]="guest.lastName"
            (ngModelChange)="guest.lastName = $event"
            ngModel
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input
            type="text"
            name="email"
            #email="ngModel"
            [ngModel]="guest.email"
            (ngModelChange)="guest.email = $event"
            ngModel
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Phone Number</span>
          <input
            type="text"
            name="phoneNumber"
            #phoneNumber="ngModel"
            [ngModel]="guest.phone"
            (ngModelChange)="guest.phone = $event"
            ngModel
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Address</span>
          <input
            class="remarks"
            name="remarks"
            #remarks="ngModel"
            [ngModel]="guest.address"
            (ngModelChange)="guest.address = $event"
            ngModel
          />
        </div>
      </div>
    </form>
  </div>
</section>
