<section class="reservation-detail">
  <div class="container">
    <div class="title">Guest Information</div>
    <form #getForm="ngForm" (ngSubmit)="onSubmit(getForm)">
      <div class="guest-details">
        <div class="input-box">
          <span class="details">First Name</span>
          <input
            type="text"
            placeholder="Enter your first name"
            name="firstName"
            #firstName="ngModel"
            ngModel
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Last Name</span>
          <input
            type="text"
            placeholder="Enter your last name"
            name="lastName"
            #lastName="ngModel"
            ngModel
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input
            type="text"
            placeholder="Enter your email"
            name="email"
            #email="ngModel"
            ngModel
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Phone Number</span>
          <input
            type="text"
            placeholder="Enter your number"
            name="phoneNumber"
            #phoneNumber="ngModel"
            ngModel
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Remarks</span>
          <textarea
            class="remarks"
            placeholder="Type here..."
            name="remarks"
            #remarks="ngModel"
            ngModel
          ></textarea>
        </div>
      </div>
      <div class="button">
        <input type="submit" value="Reserve" />
      </div>
    </form>
  </div>
</section>
