<div class="container">
  <div class="title">Guest Information</div>
  <form action="#">
    <div class="guest-details">
      <div class="input-box">
        <span class="details">First Name</span>
        <input type="text" placeholder="Enter your first name" required />
      </div>
      <div class="input-box">
        <span class="details">Last Name</span>
        <input type="text" placeholder="Enter your last name" required />
      </div>
      <div class="input-box">
        <span class="details">Email</span>
        <input type="text" placeholder="Enter your email" required />
      </div>
      <div class="input-box">
        <span class="details">Phone Number</span>
        <input type="text" placeholder="Enter your number" required />
      </div>
      <div class="input-box">
        <span class="details">Remarks</span>
        <textarea class="remarks" placeholder="Type here..."></textarea>
      </div>
    </div>
    <div class="button">
      <input type="submit" value="Reserve" />
    </div>
  </form>
</div>
