* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px 20px 80px;
    display: flex;
    background-color:#00357b;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
}

.navbar a {
    font-size: 17px;
    color: white;
    text-decoration: none;
    margin-left: 40px;
    
}

.navbar a:hover{
    color:gold;
}