<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header class="header">
            <a href="#" class="logo">Logo</a>

            <nav class="navbar">
                    <a [routerLink]="['/home']" routerLinkActive="active-link">Home</a>
                    <a [routerLink]="['/reservation']">Resevation</a>
                    <a [routerLink]="['/about-us']">About</a>
                    <a [routerLink]="['/contact-us']">Contact</a>
            </nav>
        </header>
    </body>
</html>