.home {
    height: 100vh;
    width: 100%;
    background-image: url(home.png);
    background-size: cover;
    background-position: center;  
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: -27px;
    font-size: 45px;
}

.button {
    font-size: 22px;
    border: none;
    background-color: gold;
    padding: 8px 15px;
    border-radius: 20px;
    color: black;
    transition: .4s;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.1);
}