<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="home">
            <img src="home.png" class="img">
            <div class="hero">
                <p>Make Your Vacation Comfortable</p>
                <a type="button" class="button" [routerLink]="['/reservation']">Book Now</a>
            </div>
        </div>
    </body>
</html>